* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif, 'poppins';
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 10%;
    background:rgb(3, 31, 34) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    gap: 20px;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* Added duration and corrected animation name */
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    /* Changed to .5s */
    animation-delay: 1s;
    /* Added delay so it animates after logo */
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(3, 31, 34);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
    flex: 1;
}

.home-image {
    max-width: 100%;
    flex: 1;
    /* Allows the image container to grow */
    text-align: center;
    /* Center the image horizontally */
}

.home-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    /* Optional: add rounded corners */
}

.home-image img:hover {
    box-shadow: 0 0 20px rgb(0, 254, 199);
    /* Glowing effect */
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    /* Changed is to 1s */
    animation-delay: 0.5s;
}

.home-content h3 span {
    color: rgb(101, 7, 167);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 40px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: rgb(33, 225, 161);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    /* Added animation */
    animation-delay: 1s;
    /* Added delay */
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    /* Added animation */
    animation-delay: 1s;
    /* Added delay */
}

.about {
    position: relative;
    display: flex;
    /* Changed to flex */
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    /* Center vertically */
    background-color: rgb(3, 31, 34);
    padding: 70px 10%;
    /* Added padding to match .home section */
    height: 100vh;
    /* Make the about section full height */
}

.about-img {
    flex: 1;
    /* Allows the image container to grow */
    text-align: center;
    /* Center the image horizontally */
}

.about-img img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-color: rgb(3, 31, 34);
    color: #ededed;
    flex-wrap: wrap;
}

.about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 20px rgb(0, 254, 199);
}

.about-text {
    flex: 1;
    padding-left: 50px;
}

.about-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-text h2 span {
    color: rgb(100, 29, 231);
}

.about-text .education {
    animation: slideTop 1s ease forwards;
    /* animation-delay: 0.7s; */
}

.about-text .education h4 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    position: relative;
    padding-left: 30px;
}

.about-text .education h4 i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    color: rgb(0, 144, 77);
}

.about-text .education h4 span {
    display: block;
    font-size: 14px;
    color: rgb(170 182 255);
    background-color: rgba(0, 255, 136, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
    background-color: #02141d;
    color: #ededed;
}

.container1 {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.heading {
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Technical-bars .bar i {
    font-size: 25px;
    margin-right: 20px;
}

.Technical-bars .bar .info {
    flex: 1;
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

.Technical-bars .bar .progress-line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #000000;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.Technical-bars .bar .progress-line span {
    display: block;
    height: 100%;
    background-color: #0ef;
    border-radius: 10px;
    width: 0; /* Start at 0 width */
    animation: animateWidth 1s 1s cubic-bezier(1, 0, 0, 1) forwards; /* Animate width instead of scaleX */
}

/* Progress percentages for each bar */
.progress-line-python {
    width: 80%;
    background-color: rgb(205, 255, 77);
}

.progress-line-C {
    width: 70%;
    background-color: rgb(21, 146, 255);
}

.progress-line-Java {
    width: 60%;
    background-color: rgb(255, 27, 27);
}

.progress-line-html {
    width: 70%;
    background-color: rgb(255, 115, 0);
}

.progress-line-nodejs {
    width: 60%;
    background-color: rgb(55, 126, 164);
}

.progress-line-react {
    width: 50%;
    background-color: #0ef;
}

/* Animate the width of progress bars */
@keyframes animateWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* This will be overridden by the width in the individual classes */
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.github-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-color: rgb(3, 31, 34);
    color: #ededed;
    flex-wrap: wrap;
}

.github-text {
    flex: 1;
    padding-right: 50px;
}

.github-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.github-text h2 span {
    color: rgb(100, 29, 231);
}

.github-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.github-button {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.github-button:hover {
    background: #081b29;
    color: #0ef;
    box-shadow: 0 0 15px #0ef;
}

.github-img {
    flex: 1;
    text-align: center;
}

.github-img img {
    max-width: 60%;
    height: 70%;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.github-img img:hover {
    box-shadow: 0 0 20px rgb(0, 254, 199);
}


.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10%;
    background-color: rgb(3, 31, 34);
    color: #ededed;
    flex-wrap: wrap;
}

.works {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.container {
    width: 100%;
}

.Projects-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.project-item i {
    font-size: 50px;
    margin-bottom: 30px;
}

.project-item h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(20, 148, 245);
}

.project-item p {
    flex-grow: 1;
    margin-bottom: 20px;
    font-size: 13px;
}

.project-item a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    padding: 12px 20px;
    background: rgb(127, 195, 25);
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.read:hover {
    background: #081b29;
    color: #0ef;
    box-shadow: 0 0 15px #0ef;
}

.project-item:hover {
    transform: translateY(-10px);
}



.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding: 50px 10%;
    background-color: #02141d;
    color: #ededed;
    min-height: 100vh; /* Ensures the section takes up the full viewport height */
    margin: 0; /* Removes any default margin */
}

.contact-text {
    text-align: center;
}

.contact-text h2 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text p {
    color: #ededed;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    display: flex;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem 0;
}

.contact-list li {
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-list li:hover {
    background-color: rgba(14, 239, 239, 0.1);
    transform: translateY(-3px);
}

.contact-list i {
    margin-right: 15px;
    color: #0ef;
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact-list .mail:hover i {
    color: rgb(191, 196, 71);
    transform: scale(1.2);
}
.contact-list .phone:hover i {
    color: rgb(71, 200, 36);
    transform: scale(1.2);
}

.contact-icons a {
    display: inline-block;
    padding: 5px 10px;
    background: #0ef;
    border-radius: 10px;
    font-size: 20px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    margin: 0 20px 20px 0; /* Adds a 10px gap between icons */
}

.contact-icons .fb:hover {
    color: rgb(253, 253, 253);
    transform: scale(1.1);
    background: #1877F2;
    box-shadow: 0 0 15px #0ef;
}

.contact-icons .insta:hover {
    color: rgb(254, 254, 254);
    transform: scale(1.1);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    box-shadow: 0 0 15px #0ef;
}

.contact-icons .linkedin:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background: #0077B5;
    box-shadow: 0 0 15px #0ef;
}

.contact-icons .twitter:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background: #1DA1F2;
    box-shadow: 0 0 15px #0ef;
}


.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    padding: 15px;
    margin-bottom: 15px;
    background: rgb(86, 64, 64);
    color: #ededed;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form .send {
    background: #0ef;
    border: none;
    padding: 14px 60px;
    border-radius: 40px;
    font-size: 18px;
    color: #02141d;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
}

.contact-form .send:hover {
    box-shadow: 0 0 20px #0ef;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .contact-text h2 {
        font-size: 40px;
    }

    .contact-form textarea {
        height: 120px;
    }
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        /* Corrected syntax */
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        /* Corrected syntax */
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        /* Corrected syntax */
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        /* Corrected syntax */
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
